* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

header {
  font-family: Arial, "Times New Roman";
  background-color: #ffffff;
  color: #035fc2;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 8fr;
  /* place-items: center; */
  justify-items: center;
  align-items: center;
  /* box-shadow: 0 0 30px #035fc2; */
}

header img {
  grid-column: 2/3;
  height: auto;
  width: 125px;
}

.menu {
  grid-column: 4/5;
}

.menu ul {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #035fc2;
  font-size: 1.4rem;
  padding: 2px;
}

body {
  font-family: sans-serif, Helvetica;
  color: #000;
}

h1,
h2 {
  font-family: Arial, "Times New Roman";
  color: #035fc2;
}

.menu,
p,
section,
article {
  margin: 10px;
  padding: 5px;
}

.history {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.history img {
  height: auto;
  width: 200px;
  box-shadow: 0 0 15px #035fc2;
}

.history h2 {
  grid-column: 1/4;
  /* font-weight: bold; */
}

.history p,
.history img {
  grid-row: 2/3;
}

.ads {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.ads h2 {
  grid-column: 1/-1;
  grid-row: 1/2;
  place-self: center;
}

.ads figure {
  grid-row: 2/3;
  place-items: center;
  color: #464545;
}

.ads figure img {
  height: auto;
  width: 150px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  /* border-radius: 50px; */
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.9;
  color: #ffffff;
  background-color: #035fc2;
  /* border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
}

.hero article {
  opacity: 0.9;
  position: absolute;
  background-color: #035fc2;
  color: #ffffff;
}

.hero article img {
  max-width: 125px;
  height: auto;
  float: right;
  margin: 10px;
  /* box-shadow: 0 0 15px #035fc2; */
}

div article {
  position: absolute;
  right: 400px;
  left: 10px;
  bottom: 10px;
  margin: 0;
  padding: 0;
}

.socialmedia a img {
  max-width: 40px;
  height: auto;
  margin: 5px;
}

footer {
  display: grid;
  grid-template-columns: 10fr 4fr 1fr;
  place-content: center;
  place-items: center;
}

.contactgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
}

.info {
  grid-column: 1/-1;
  place-items: center;
  place-content: center;
}

.info p {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
}

.googlemaps {
  grid-row: 2/3;
  grid-column: 1/2;
}
.user-form {
  grid-row: 2/3;
  grid-column: 2/3;
}

form {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-right: 50px;
  background-color: #035fc2;
  padding: 1rem;
  color: #ffffff;
}

form label {
  text-align: left;
}

#name,
#email {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.purpose {
  display: grid;
  align-content: space-between;
  font-size: 0.8rem;
  gap: 10px;
}

.purpose label {
  text-justify: left;
}

.message {
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

form textarea {
  grid-column: 1/3;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif, Helvetica;
}

.subscribe {
  grid-column: 1/3;
  font-size: 0.9rem;
}

.subscribe input {
  vertical-align: middle;
}

button {
  grid-column: 1/3;
  padding: 10px;
  font-weight: 700;
  border: none;
}

button:hover {
  background-color: #000;
  color: #ffffff;
}

iframe {
  border: none;
}

.main {
  width: 100%;
  background-color: #191a1c;
}

.main-header {
  width: 100%;
  background-color: #191a1c;
  border-radius: 0;
  margin: 0;
}
.main-menu {
  grid-column: 3/5;
}

.main-menu ul {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
}

.main-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  padding: 2px;
}

.main-hero {
  background-color: #191a1c;
  position: relative;
}

.main-hero img {
  height: auto;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
}

.overlay-flex {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  /* place-content: center; */
  place-items: center;
}

.overlay-flex h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #dc2d41;
}

.overlay-flex div {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.overlay-flex div p {
  font-size: 2rem;
}

.overlay-flex div button {
  margin: 0 auto;
  width: 8rem;
  border-radius: 5px;
}

.categories {
  padding: 10rem 0 10rem;
  background-color: #191a1c;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.categories figure figcaption {
  color: #fff;
  text-align: center;
}

.border {
  border: 3px solid #dc2d41;
  height: 200px;
  width: auto;
}

.join-us {
  padding: 20rem;
  background-color: #fff;
  position: relative;
}

.join-us img {
  position: absolute;
  height: auto;
  width: 700px;
  right: 10%;
  bottom: 100px;
}

.join-us div {
  position: absolute;
  width: 500px;
  left: 20%;
  bottom: 100px;
}

.join-us-flex {
  background-color: #191a1c;
  padding: 1rem;
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.join-us-flex h2 {
  color: #dc2d41;
}

.join-us-flex p {
  color: #fff;
}

.join-us-flex button {
  border-radius: 10px;
}

.join-us-flex button:hover {
  background-color: #dc2d41;
}

.main-footer {
  width: 100%;
  background-color: #191a1c;
  color: #dc2d41;
}

.request {
  width: 100%;
}

.request section img {
  height: auto;
  /* width: 100%; */
  width: 1300px;
}

.request section p {
  position: absolute;
  color: #fff;
  font-size: 2.2rem;
  left: 6rem;
}

.overlay-form {
  position: absolute;
  top: 75rem;
  right: 24rem;
}

.main-form {
  width: 500px;
  display: grid;
  background-color: #191a1c;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-right: 0px;
  color: #ffffff;
}

.main-form label {
  text-align: left;
  color: #dc2d41;
  font-size: 1rem;
  font-weight: 700;
}

#main-name,
#main-email,
#main-phone {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.main-subscribe {
  grid-column: 1/3;
  font-size: 0.9rem;
}

.main-subscribe input {
  vertical-align: middle;
}

.main-form button {
  grid-column: 1/3;
  padding: 10px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.main-form button:hover {
  background-color: #dc2d41;
  color: #fff;
}

.request fieldset {
  background-color: #191a1c;
}

.request fieldset legend {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding: 10px;
}

span {
  color: #dc2d41;
  font-weight: 700;
}

.overlay-form fieldset legend {
  color: #dc2d41;
}

.trips {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.trips h2 {
  grid-column: 1/-1;
  grid-row: 1/2;
  place-self: center;
}

.trips figure {
  grid-row: 2/3;
  place-items: center;
  color: #464545;
}
.trips figure {
  text-align: center;
}

.trips figure img {
  height: 150px;
  width: 250px;
}

table {
  margin: 0 auto;
  background: #fff;
  border-collapse: collapse;
}

thead {
  background-color: #035fc2;
  color: #fff;
}

th,
td {
  padding: 10px;
  border: 2px solid #000;
  text-align: center;
}

.main-trip {
  display: flex;
  flex-direction: column;
}

.main-trip p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.span-calentar {
  background-color: #777;
}

.trip-main section h1 {
  text-align: center;
}

.trip-main section a {
  margin: 0 auto;
}

.trip-main section a button {
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

.trip-main section a button:hover {
  background-color: #dc2d41;
}
