:root {
  --primary-color: #000000;
  --second-color: #ffffff;
  --third-color: #035fc2;
  --header-font: Arial, "Times New Roman";
  --body-font: sans-serif, Helvetica;
}

* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

header {
  font-family: var(--header-font);
  background-color: var(--second-color);
  color: var(--third-color);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 8fr;
  /* place-items: center; */
  justify-items: center;
  align-items: center;
  /* box-shadow: 0 0 30px var(--third-color); */
}

header img {
  grid-column: 2/3;
  height: auto;
  width: 125px;
}

.menu {
  grid-column: 4/5;
}

.menu ul {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: var(--third-color);
  font-size: 1.4rem;
  padding: 2px;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

h1,
h2 {
  font-family: var(--header-font);
  color: var(--third-color);
}

.menu,
p,
section,
article {
  margin: 10px;
  padding: 5px;
}

.history {
  display: grid;
  justify-items: center;
  gap: 10px;
}

.history img {
  height: auto;
  width: 200px;
  box-shadow: 0 0 15px var(--third-color);
}

.history h2 {
  grid-column: 1/4;
  /* font-weight: bold; */
}

.history p,
.history img {
  grid-row: 2/3;
}

.ads {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.ads h2 {
  grid-column: 1/-1;
  grid-row: 1/2;
  place-self: center;
}

.ads figure {
  grid-row: 2/3;
  place-items: center;
  color: #464545;
}

.ads figure img {
  height: auto;
  width: 150px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  /* border-radius: 50px; */
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.9;
  color: var(--second-color);
  background-color: var(--third-color);
  /* border-top-left-radius: 25px;
  border-top-right-radius: 25px; */
}

.hero article {
  opacity: 0.9;
  position: absolute;
  background-color: var(--third-color);
  color: var(--second-color);
}

.hero article img {
  max-width: 125px;
  height: auto;
  float: right;
  margin: 10px;
  /* box-shadow: 0 0 15px var(--third-color); */
}

div article {
  position: absolute;
  right: 400px;
  left: 10px;
  bottom: 10px;
  margin: 0;
  padding: 0;
}

.socialmedia a img {
  max-width: 40px;
  height: auto;
  margin: 5px;
}

footer {
  display: grid;
  grid-template-columns: 10fr 4fr 1fr;
  place-content: center;
  place-items: center;
}

.contactgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
}

.info {
  grid-column: 1/-1;
  place-items: center;
  place-content: center;
}

.info p {
  margin: 0;
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
}

.googlemaps {
  grid-row: 2/3;
  grid-column: 1/2;
}
.user-form {
  grid-row: 2/3;
  grid-column: 2/3;
}

form {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-right: 50px;
  background-color: var(--third-color);
  padding: 1rem;
  color: var(--second-color);
}

form label {
  text-align: left;
}

#name,
#email {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.purpose {
  display: grid;
  align-content: space-between;
  font-size: 0.8rem;
  gap: 10px;
}

.purpose label {
  text-justify: left;
}

.message {
  grid-column: 1/3;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

form textarea {
  grid-column: 1/3;
  padding: 5px;
  border-radius: 5px;
  font-family: var(--body-font);
}

.subscribe {
  grid-column: 1/3;
  font-size: 0.9rem;
}

.subscribe input {
  vertical-align: middle;
}

button {
  grid-column: 1/3;
  padding: 10px;
  font-weight: 700;
  border: none;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--second-color);
}
