* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  background: #fff;
  color: #535353;
}

header {
  color: navy;
}

form {
  width: 650px;
  display: grid;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
}

h1 {
  width: 650px;
  margin: 1rem auto;
  font-size: 1.5rem;
  text-align: center;
  columns: navy;
}

fieldset {
  display: grid;
  gap: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

legend {
  padding: 0.5rem;
  font-weight: 500;
  color: navy;
}

label,
input,
select,
option,
textarea {
  font-family: Roboto, Arial, sans-serif;
}

label {
  text-align: right;
  padding-right: 1rem;
}

input,
select,
textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input[type="checkbox"] {
  height: 22px;
  width: 22px;
  vertical-align: bottom;
}

button {
  background-color: navy;
  color: #fff;
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1 px solid black;
  border: none;
  font-weight: 100;
}

button:hover {
  background-color: darkgreen;
}

footer {
  margin: 1rem auto 0;
  width: 650px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}
.form-item {
  display: grid;
  align-items: center;
}

.column1 {
  grid-template-columns: 3fr 1fr;
  margin: 0.5rem 0;
}

.column2 {
  grid-template-columns: 1fr 2fr;
}

select {
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  grid-area: 2/1/3/4;
}
