* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
}

header,
form {
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  margin: 10px 0 30px;
  color: navy;
}

form {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
  display: grid;
  padding: 1.5rem;
  gap: 1rem;
}

select,
option {
  color: #333;
}

select {
  font-size: 1.2rem;
  padding: 0.4rem;
}

label span,
p span {
  color: navy;
  font-weight: 700;
  padding-right: 5px;
}

.column0 {
  display: grid;
  gap: 1rem;
}

.column1 {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  gap: 1rem;
}

.column1 p {
  grid-column: 1/-1;
}

.column2 {
  display: grid;
  justify-items: left;
  align-items: center;
  font-size: 1.1rem;
}

.column3 {
  display: grid;
  align-items: center;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.example {
  background-color: #333;
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 1rem;
  width: 400px;
  margin: 0 auto;
}

option {
}

#q3 {
  width: 75px;
}

div span {
  font-weight: 700;
}

input,
textarea {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
}

button[type="submit"] {
  margin: 0 auto;
  padding: 0.7rem;
  background-color: navy;
  color: white;
  font-size: 1rem;
}

button:hover {
  background-color: green;
}
