/*properties in CSS*/

* {
  padding: 0%;

  border: 1 px solid red;
  border-radius: 0%;

  margin: auto;

  text-align: center;

  box-shadow: 0 0 30px #111;

  background-color: aqua;

  height: auto;
  width: 10px;
  max-width: fit-content;

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: blueviolet;

  float: right;
  clear: both;

  display: block;

  position: relative;

  outline: 2px solid red;
  opacity: 0.7;
  text-decoration: none;

  /* CSS flex*/
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  flex: 1 1 100%;
}
