:root {
  --background-color: darkblue;
  --color-default: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--background-color);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  width: 150px;
  height: auto;
  border: 1px solid var(--color-default, gray);
  padding: 2px;
  box-shadow: 0 0 30px gray;
  color: var(--color-default);
}

main {
  max-width: 750px;
}

aside {
  position: relative;
  width: 20rem;
  /* margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem; */
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside h2 {
  position: absolute;
  top: 25px;
  left: 85px;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  float: right;
  width: 150px;
  height: auto;
  border: 1px solid var(--color-default);
  padding: 2px;
  box-shadow: 0 0 25px var(--color-default);
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid var(--color-default);
  text-align: center;
}

/* Class selectors */

.box {
  padding: 1rem;
  border: 1rem;
  margin: 1rem;
  background-color: cadetblue;
  color: rgb(0, 0, 0);
}
