.callout {
  max-width: 380px;
  margin: 10px;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #224477;
  color: white;
}

.callout img {
  float: right;
  margin: 0 0 10px 10px;
  border: 1px solid rgb(0, 0, 0);
  padding: 3px;
  background-color: #bbb;
  width: 100px;
  height: auto;
}

blockquote {
  margin: 0px;
}

cite {
  display: block;
  border-top: 1px dotted rgb(155, 154, 154);
  padding-top: 5px;
  text-align: right;
  font-size: smaller;
}
