body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 1.3em;
  border: 8px solid #333;
  max-height: 40px;
}

header p {
  margin: 0;
}

section {
  max-width: 350px;
  margin: 20px auto;
}

main h1 {
  text-align: center;
  font-size: 2em;
  padding: 0;
  margin: 5px;
}

main h2 {
  font-size: 1.2em;
}

picture {
  display: block;
  text-align: center;
}

img {
  height: auto;
  max-width: 350px;
  box-shadow: 0 0 30px #333;
  border-radius: 3px;
}

section {
  box-sizing: border-box;
  background-color: #dddddd;
  padding: 5px 5px;
}

section p {
  padding: 0 15px;
}

section ul {
  padding: 0 30px;
}

section h2 {
  border-bottom: 2px solid gray;
}

footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 1px;
}
